@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
}

body {
  background-color: #e8d7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin: 20px;
}

.category {
  background-color: #7913f0;
  width: 90%;
  padding: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.category > a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

.profile {
  background-color: #fff;
  width: 90%;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0 20px 0;
  /* margin-top: 15px; */
}

.profile-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile-text > p:first-child {
  font-size: 45px;
  margin-bottom: 50px;
}

.profile-text > p:last-child {
  font-size: 20px;
}

.profile > img {
  width: auto;
  height: 300px;
}

.posts {
  background-color: #af74ff;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
  /* margin-bottom: 30px; */
  margin: 10px 0;
  border-radius: 5px;
}

.post {
  background-color: #ffffff;
  border-radius: 5px;
  width: 300px;
  padding: 15px 30px;
  margin: 15px;
}

.post-img {
  width: 300px;
  height: 200px;
}

.post-main {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.title {
  font-size: 20px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 15px;
}

.post-detail {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-one {
  background-color: #ffffff;
  display: flex;
  margin-top: 15px;
  border-radius: 5px;
}

.post-one > img {
  width: 700px;
  height: 500px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.not-img {
  /* background-color: aqua; */
  width: 500px;
  /* padding: 0 50px; */
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-img-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.one-title {
  font-size: 30px;
}

.one-date {
  font-size: 20px;
}

.not-img > p {
  /* background-color: #7913f0; */
  text-align: justify;
  font-size: 18px;
  height: 300px;
}

button {
  background-color: transparent;
  /* border: 1.5px dashed black; */
  border: none;
  color: #af74ff;
  font-size: 15px;
  width: 100%;
  padding: 5px 0;
  margin-top: 8px;
  cursor: pointer;
}
